@using asp.net_core_empty_5._0.Controllers;
@model AccountController
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/account/index">account index</a>
    <h1>List of account @Model.Accounts.Count</h1>
    <h1>List of AccountPaging @Model.AccountPaging.Count</h1>
    <h1>List of Cars @Model.Cars.Count</h1>
    <a href="/car/list">List all car</a>

    <p>
        <h1>List Account</h1>
    </p>

    <form asp-controller="account" asp-action="list" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name:
                <input type="text" name="SearchString" value="@Model.CurrentFilterSearchString" />
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <input type="hidden" name="SortField" value="@Model.CurrentSortField" />
                <a asp-controller="account" asp-action="list">Back to full List</a>
            </p>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-controller="account" asp-action="list" asp-route-SortField="@Model.IdSort" asp-route-SearchString="@Model.CurrentFilterSearchString">
                        @Html.DisplayNameFor(model => model.Accounts[0].Id)
                    </a>
                </th>
                <th>
                    <a asp-controller="account" asp-action="list" asp-route-SortField="@Model.NameSort" asp-route-SearchString="@Model.CurrentFilterSearchString">
                        @Html.DisplayNameFor(model => model.Accounts[0].Name)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Accounts[0].Email)
                </th>
                <th>
                    <a asp-controller="account" asp-action="list" asp-route-SortField="@Model.BirthDateSort" asp-route-SearchString="@Model.CurrentFilterSearchString">
                        @Html.DisplayNameFor(model => model.Accounts[0].BirthDate)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Accounts[0].Avatar)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AccountPaging)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.Avatar)" style="height: 50px;width: 50px;" alt="">
                    </td>
                    <td> <a href="/account/details/@item.Id">details</a> </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.AccountPaging.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.AccountPaging.HasNextPage ? "disabled" : "";
    }

    <a asp-controller="account" asp-action="list"
       asp-route-SortField="@Model.CurrentSortField"
       asp-route-pageIndex="@(Model.AccountPaging.PageIndex - 1)"
       asp-route-SearchString="@Model.CurrentFilterSearchString"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-controller="account" asp-action="list"
       asp-route-SortField="@Model.CurrentSortField"
       asp-route-pageIndex="@(Model.AccountPaging.PageIndex + 1)"
       asp-route-SearchString="@Model.CurrentFilterSearchString"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
</body>

</html>