@using AspNetCore.MVC.Controllers;
@model AccountController

<a href="/account/index">account index</a>
<hr />

<h1>Mapper viewmodel</h1>

<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Balance
        </th>
    </tr>

    @foreach (var item in Model.AccountVMs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @item.Balance
            </td>
        </tr>
    }
</table>

<hr />

<form asp-controller="account" asp-action="update">
    @Html.EditorFor(m=>m.AccountVM.Id,new {@placeholder="AccountVM.Id"})
    @Html.EditorFor(m=>m.AccountVM.Balance,new {@placeholder="AccountVM.Balance"})

    @Html.EditorFor(m=>m.AccountBinding.Id,new {@placeholder="AccountBinding.Id"})
    @Html.EditorFor(m=>m.AccountBinding.Balance,new {@placeholder="AccountBinding.Balance"})

    <button type="submit">submit</button>
</form>