@using AspNetCore.Client.MVC.Controllers;
@using AspNetCore.Client.MVC.Models;
@model AccountController
@{
    var _account = ViewBag.Account as Account;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="width: 10%;float: left;">
        <img src="@_account.Thumnail" style="height: 100px;width: 100px;" alt=""> <br>
        <a href="/account/list">list account (paging - sort - filter)</a><br><br><br>
        <a href="/account/index?accountpro.Avatar=accountpro_Avartar&Number=100&AccountBinding.Avatar=AccountBinding_Avatar">binding properties</a> <br>
        <a href="/Validation/index">validation</a> <br>
        <a href="/taghelper/tag">tag helper</a> <br>
        <a asp-controller="Route" asp-action="Index">Route</a><br>
        <a asp-controller="account" asp-action="ViewModelMapper">View Model</a><br>
        <a asp-controller="FileUpload" asp-action="Upload">Upload File</a><br>
        <a asp-controller="SignalR" asp-action="ChatHub">SignalR ChatHub</a><br>
        <a asp-controller="Session" asp-action="Index">Session</a><br>
    </div>
    <div>
        welcome @_account.Name <br><br>
        @ViewData["tilte"] <br>
        @ViewBag.Trichoip <br>
        @ViewBag.trichoip <br>
        @ViewData["trichoip"] <br>
        AccountBinding.Avatar :  @ViewBag.AccountBinding <br>
        accountpro.Avatar :  @ViewBag.Ava <br>
        Number :  @ViewBag.Number <br>
        <hr />
        Binding properties post
        <br>
        <form action="/account/index" method="post">
            Number : <input type="number" name="Number"> <br>
            Accountpro: <input type="text" name="accountpro.Avatar"> <br>
            AccountBinding: <input type="text" name="AccountBinding.Avatar"> <br>
            <button>submit</button>
        </form>
    </div>
    <hr />
    <div>
        <h1>test [HttpMethod]</h1>
        <form action="/account/Delete" method="post">
            <button>submit</button>
        </form>
    </div>

</body>

</html>
